:root{
    --primary--color:#EE4D2D;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
}
*{
    box-sizing:inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.grid{
    width: 1600px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
}
/* Animation */
@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
  }
@keyframes grow{
    from {scale: var(--grow-from);}
    to {scale: var(--grow-to);}
}
/* --Model--- */
.model{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:flex;
    animation:example linear 0.1s;
}
.model__overlay{
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.4);
 
}
.model__body{
    --grow-from:0.7;
    --grow-to:1;
    position: relative;
    margin:auto;
    z-index: 1;
    animation:grow linear 3s;

}
/* Model-css */
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__container{
    padding:0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin:0 12px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color)
}
.auth-form__swith-btn{
    font-size: 1.6rem;
    color:var(--primary--color);
font-weight: 400;
cursor: pointer;
}
.auth-form__input{
    width: 100%;
    height: 34px;
    margin-top:16px;
    padding:0 12px;
    font-size:1.2rem;
    border:1px solid #dbdbdb;
    border-radius: 2px;
  
}
.auth-form__group{
    outline: none;
}
.auth-form__input:focus {
    color: #888;
}
.auth-form__aside{
    margin-top: 18px;
}
.auth-form__polycy-text{
    font-size:1.2rem;
    line-height:1.8rem;
    text-align:center;
    padding: 0 12px;
}
.auth-form__polycy-link{
    text-decoration: none;
    color: var(--primary--color)
}
.auth-form__controls{
    margin-top:60px;
    display: flex;
    justify-content:flex-end;
}
.auth-form__controls-s{
    margin-right: 8px;
    background-color:var(--white-color);
}
.auth-form__socicals{
    background-color:#F5F5f5;
    display: flex;
    justify-content:space-between;
    padding: 12px 36px;
    margin-top: 28px;
    
}
.auth-form__socicals a{
    text-decoration: none;  

}
.btn--size-s{
    height:36px !important;
    font-size:1.2rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 70px !important;
}
.btn-with-icon-facebook{
}
.fa-brands{
    font-size:1.8rem!important;
    margin-right: 5px;
}
.facebook{
background-color: #3a5a98;
color:var(--white-color)!important;;
}
.google{
background-color:var(--white-color) !important;
color:#666;
}

/* --Form login */
.auth-form--help{
    display: flex;
    justify-content: flex-end;
}
.help{
    color:var(--primary--color)!important;
}
.auth-form--help-link{
    font-size: 1.4rem;
    color:#939393;
}
.auth-form--help-sparate{
    display: block;
    height:21px;
    margin:0 24px;
    border-left: 1px solid #EAEAEA;
}
